
<div class="bg-info m-2 p-2" [ngSwitch]="model.getProductCount()">
    <span *ngSwitchCase="0">there are no products</span>
    <span *ngSwitchCase="1">There is 1 product</span>
    <span *ngSwitchCase="2">There are 2 product</span>
    <span *ngSwitchDefault>There are many product</span>
</div>

<div class="bg-info m-2 p-2" [ngSwitch]="model.getProductById(2)?.name">
    <span *ngSwitchCase="'Samsung'">Samsung</span>
    <span *ngSwitchCase="'Apple'">Apple</span>
    <span *ngSwitchCase="'Huawei'">Huawei</span>
    <span *ngSwitchDefault>Another One</span>
</div>
